<footer class="color-gradient">
	<div class="row center">
		<div class="col s12">
			<h5 class="white-text">SÍGUEME EN REDES SOCIALES</h5>
			<p class="white-text">
				¡Soy muy activo en redes sociales y me encantaría <br> hablar contigo!
				Sientete líbre de contactarme por email, <br>
				seguirme en Twitter y agregarme a Facebook.
			</p>
		</div>
		<div class="col s12 center">
			<app-social-media [color]="black"></app-social-media>
		</div>
	</div>
	<div class="footer-copyright white-text">
		<div class="container">
		© {{year}} Copyright Text
		<a class="white-text right" href="https://github.com/jemd15">WebApp Developer <strong class="cyan-text text-accent-3">Javier Muñoz</strong></a>
		</div>
	  </div>
</footer>