<footer class="color-gradient">
	<div class="row center">
		<div class="col s12">
			<h5 class="white-text">SÍGUEME EN REDES SOCIALES</h5>
			<p class="white-text">
				Soy muy activo en redes sociales y me encantaría <br> hablar contigo!
				Sientete líbre de contactarme por email, <br>
				seguirme en Twitter y agregarme a Facebook.
			</p>
		</div>
		<div class="col s12">
			<div class="row col s4 offset-s4">
				<a class="col offset-s1" href="https://www.facebook.com/xjemd" target="_blank"><i class="fab fa-3x fa-facebook white-text"></i></a>
				<a class="col" href="https://twitter.com/Jemd_1" target="_blank"><i class="fab fa-3x fa-twitter white-text"></i></a>
				<a class="col" href="http://www.linkedin.com/profile/view?id=138209855" target="_blank"><i class="fab fa-3x fa-linkedin white-text"></i></a>
				<a class="col" href="https://www.instagram.com/jemd_1" target="_blank"><i class="fab fa-3x fa-instagram white-text"></i></a>
				<a class="col" href="https://github.com/jemd15" target="_blank"><i class="fab fa-3x fa-github white-text"></i></a>
			</div>
		</div>
	</div>
	<div class="footer-copyright white-text">
		<div class="container">
		© {{year}} Copyright Text
		<a class="white-text right" href="https://github.com/jemd15">Javier Muñoz Web Developer</a>
		</div>
	  </div>
</footer>