<div class="container row">
  <div class="col s12 m6">
    <div class="card-panel row">
      <form action="https://send.pageclip.co/xBgVRPErlJEmf3vUHCrwrdVnBUHCGPka/contact-form" class="col s12" method="post">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix pink-text">account_circle</i>
            <input class="validate" id="Nombre" name="nombre" required="" type="text">
            <label for="nombre">Nombre</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix pink-text">email</i>
            <input class="validate" id="Email" name="email" required="" type="email">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix pink-text">mode_edit</i>
            <textarea class="materialize-textarea" id="Mensaje" name="mensaje" required=""></textarea>
            <label for="mensaje">Mensaje</label>
          </div>
        </div>
        <button class="col s12 btn btn-large pink" type="submit">Enviar</button>
      </form>
    </div>
  </div>
  <div class="col s12 m6 hide">
    <img src="../../../assets/imgs/social-media.jpg" alt="" class="responsive-img">
    <app-social-media></app-social-media>
  </div>
  <div class="col s12 m6">
    <div class="card blue-grey lighten-5">
      <div class="card-image">
        <img src="../../../assets/imgs/social-media.jpg">
      </div>
      <div class="card-content">
        <app-social-media></app-social-media>
      </div>
    </div>
  </div>
</div>